
      .example-desc {
        margin:3px 0;
        padding:5px;
        max-height: 100%
      }

      #carousel {
        width: 100%;
        height:300px;
        position:relative;
        clear:both;
        overflow:hidden;
        background:#FFF;
      }
      #carousel img {
        visibility:hidden; /* hide images until carousel can handle them */
        cursor:pointer; /* otherwise it's not as obvious items can be clicked */
      }

      .split-left {
        width:10px;
        float:left;
      }
      .split-right {
        width:10px;
        float:left;
        margin-left:10px;
      }
      #callback-output {
        height:250px;
        overflow:scroll;
      }
      textarea#newoptions {
        width:10px;
      }