@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <h2>Macoratti .net - Usando ModelState</h2>
        <hr />
        @Html.ActionLink("Incluir um usuário", "Incluir")
    </div>
</body>
</html>
